@{
    ViewData["Title"] = "About us";
}

<div class="container">
    <div class="jumbotron bg-white mt-5 mb-0">
        <div class="text-center">
            <h2 class="title text-dark">@ViewData["Title"]</h2>
            <p class="lead subtitle">Tourism Agency in Santa Ana, Costa Rica.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-sm-12 col-md-6">
            <p class="lead font-weight-normal">
                We are a Costa Rican travel agency specialized in: waterfalls, hotels, tours of Costa Rica.
                Professionals in creating travel experiences based on dreams and wishes of our visitors, complying with
                the highest standards.
            </p>
            <p class="lead font-weight-normal">
                We pride ourselves on being the favorite option for visitors who want new, unique and beautiful
                experiences of the country. We offer both personalized and group tours and tour packages, and we fit to
                the expectations and wishes of our clients throughout the year.
            </p>
            <p class="lead font-weight-normal">
                For TREK-KING Adventures CR the most important thing is our visitors, to provide them a magical
                experience in the most exotic and wonderful places of this paradise called Costa Rica.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img img-fluid rounded" src="~/images/web_optimized/About_us.webp" alt="About us">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-12 col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.1251635811304!2d-84.20073448520643!3d9.9235326929036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fd014aa7f349%3A0x1205982e95395146!2sTrek-KING%20Adventures%20CR!5e0!3m2!1sen!2scr!4v1637735957671!5m2!1sen!2scr"
                frameborder="0" style="border:0; width: 100%;" height="450" allowfullscreen="" aria-hidden="false"
                tabindex="0" loading="lazy"></iframe>
        </div>
        <div class="col-sm-12 col-md-6">
            <p class="lead">
                <b>Address:</b>
                <br />
                Calle chimba San José, Santa Ana 10901 Costa Rica.
            </p>

            <p class="lead">
                <b>Phone: </b>
                <br />
                <a href="tel:+50670053575">7005 3575</a>
            </p>

            @* <p class="lead">
                <b>Email: </b>
                <br />
                <a href="mailto:emanuelacu@outlook.com">sergio@outlook.com</a>
                </p> *@

            <p class="lead">
                <b>Business hours: </b>
            <ul class="list-unstyled lead">
                <li>mon: 8:00–20:00</li>
                <li>tue: 8:00–20:00</li>
                <li>wed: 8:00–20:00</li>
                <li>thu: 8:00–20:00</li>
                <li>fri: 8:00–20:00</li>
                <li>sat: Open 24 hours</li>
                <li>sun: Open 24 hours</li>
            </ul>
            </p>
        </div>
    </div>
</div>