@{
    ViewData["Title"] = "Tours";
}

<div class="container">
    <div class="jumbotron bg-white mb-0">
        <div class="text-center">
            <h2 class="title text-dark">Explore Costa Rica!</h2>
            <p class="lead subtitle">Check all our tours.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-columns">
                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_23.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Catarata Rio Agrio</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$ 565</h1> *@
                        <p class="lead">
                            Este es un súper tour de los mas grandiosos.
                        </p>
                    </div>
                </div>

                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_38.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Parque Nacional Manuel Antonio, Quepos</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$15</h1> *@
                        <p class="lead">
                            Este es un tour genial.
                        </p>
                    </div>
                </div>

                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_37.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Bahía Ballena</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$29</h1> *@
                        <p class="lead">
                            Este es un tour balato.
                        </p>
                    </div>
                </div>

                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_23.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Catarata Rio Agrio</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$ 565</h1> *@
                        <p class="lead">
                            Este es un súper tour.
                        </p>
                    </div>
                </div>

                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_38.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Parque Nacional Manuel Antonio</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$15</h1> *@
                        <p class="lead">
                            Este es un tour genial.
                        </p>
                    </div>
                </div>

                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_37.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Bahía Ballena</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$29</h1> *@
                        <p class="lead">
                            Este es un tour balato.
                        </p>
                    </div>
                </div>

                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_37.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Bahía Ballena</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$29</h1> *@
                        <p class="lead">
                            Este es un tour balato.
                        </p>
                    </div>
                </div>

                <div class="card bg-light border-0 box-shadow">
                    <img src="~/images/web_optimized/photo_23.jpg" alt="Tour image"
                        class="card-img-top img img-fluid rounded" />
                    <div class="card-body">
                        <h4 class="font-weight-normal">Catarata Rio Agrio</h4>
                        @* <h1 class="card-title pricing-card-title text-info">$ 565</h1> *@
                        <p class="lead">
                            Este es un súper tour.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
