@model IEnumerable<TourViewModel>

@{
    ViewData["Title"] = "Tours";
}

<div class="container">
    <div class="jumbotron bg-white mt-5 mb-0">
        <div class="text-center">
            <h2 class="title text-dark">Explore Costa Rica!</h2>
            <p class="lead subtitle">Check all our tours.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-columns">
                @foreach (var tour in Model)
                {
                    <div class="card border-0 box-shadow bg-light mb-5">
                        <img src="\@tour.rutaImagen" alt="Tour image" class="card-img-top img img-fluid rounded-0" />
                        <div class="card-body pb-0">
                            <a data-toggle="collapse" href="#collapse_@tour.id" role="button" aria-expanded="false"
                            aria-controls="collapse_@tour.id">
                                <h4 class="font-weight-normal text-dark">
                                    @tour.nombre
                                    <i class="far fa-plus-square float-right mt-1"></i>
                                </h4>
                            </a>

                            @* <h1 class="card-title pricing-card-title text-info">$ 565</h1> *@
                            <p class="lead">@tour.descripcionBreve</p>
                        </div>

                        <div id="collapse_@tour.id" class="collapse">
                            <div class="card-body bg-white border-primary">
                                <h6 class="font-weight-bold text-dark">Full info:</h6>
                                <div class="mas">@tour.descripcionCompleta</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
